/****** Object:  Database [DigitalBook]    Script Date: 11-10-2022 19:10:42 ******/
CREATE DATABASE [DigitalBook]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[BookPurchase]    Script Date: 11-10-2022 19:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPurchase](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Bookid] [nvarchar](50) NULL,
	[Userid] [nvarchar](50) NULL,
	[InvoiceNo] [nvarchar](50) NULL,
	[PaymentID] [nvarchar](50) NULL,
	[PurchaseTime] [datetime] NULL,
	[isRefunded] [int] NULL,
 CONSTRAINT [PK_BookPurchase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11-10-2022 19:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[AuthorName] [nvarchar](50) NULL,
	[Publisher] [nvarchar](50) NULL,
	[ReleasedDate] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [nvarchar](50) NULL,
	[BookContent] [nvarchar](max) NULL,
	[AuthorId] [nvarchar](50) NULL,
	[isActive] [tinyint] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitalBookAuth]    Script Date: 11-10-2022 19:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitalBookAuth](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[password] [nvarchar](max) NULL,
	[userType] [nvarchar](50) NULL,
	[paymentID] [nvarchar](max) NULL,
 CONSTRAINT [PK_DigitalBookAuth] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookPurchase] ON 

INSERT [dbo].[BookPurchase] ([id], [Bookid], [Userid], [InvoiceNo], [PaymentID], [PurchaseTime], [isRefunded]) VALUES (4, N'16', N'2006', N'20221002030657277', N'af52c6c8-0c1c-49b4-95b1-681cf30daa37', CAST(N'2022-10-01T21:36:50.617' AS DateTime), 0)
INSERT [dbo].[BookPurchase] ([id], [Bookid], [Userid], [InvoiceNo], [PaymentID], [PurchaseTime], [isRefunded]) VALUES (5, N'17', N'2006', N'20221002030822452', N'5490045c-b0e9-4d25-bacc-70f8a24917ad', CAST(N'2022-10-01T21:38:20.703' AS DateTime), 0)
INSERT [dbo].[BookPurchase] ([id], [Bookid], [Userid], [InvoiceNo], [PaymentID], [PurchaseTime], [isRefunded]) VALUES (6, N'18', N'2006', N'20221002030947576', N'34475c6f-d9ee-47de-a821-3049fd368386', CAST(N'2022-10-01T21:39:43.993' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[BookPurchase] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[DigitalBookAuth] ON 

INSERT [dbo].[DigitalBookAuth] ([id], [userName], [password], [userType], [paymentID]) VALUES (1, N'Lewis', N'1234', N'A', NULL)
INSERT [dbo].[DigitalBookAuth] ([id], [userName], [password], [userType], [paymentID]) VALUES (2, N'admin', N'0000', N'A', N'')
INSERT [dbo].[DigitalBookAuth] ([id], [userName], [password], [userType], [paymentID]) VALUES (1002, N'Sourav', N'0000', N'A', N'')
SET IDENTITY_INSERT [dbo].[DigitalBookAuth] OFF
GO
ALTER TABLE [dbo].[BookPurchase] ADD  CONSTRAINT [DF_BookPurchase_PurchaseTime]  DEFAULT (getdate()) FOR [PurchaseTime]
GO
ALTER TABLE [dbo].[BookPurchase] ADD  DEFAULT ((0)) FOR [isRefunded]
GO
