<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2>Welcome to <span>Customer Service Portal</span></h2>
          <p>Customer Service Portal has been designed to provide Customer Support , Advanced Request 
            and Ticketing System , Tracking in-built . If you are a new customer Please Sign Up  
            or you may log in to view your service request and progress. Portal is also equipped with Admin
          Control to manage , manipulate and administrate the requests </p>
        </div>
      </div>
    </div>
  </section>