<!-- <div class="row p-3 rounded rounded-3" 
  style="position: absolute; background: url('../../../assets/image/bg-gif.gif');">
    <div *ngFor="let griddat of gridData" class="col-sm-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">{{griddat["Title"]}}</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div> -->


<section style="background-color: transparent; width: 1000px;">
  <div class="container-fluid py-5">
    <div class="row justify-content-right">
      <div class="col-md-12 col-lg-4 mb-4" *ngFor="let griddat of gridData" >
        <div class="card" style="cursor: pointer;">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">{{griddat["Category"]}}</p>
            <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 30px; height: 30px;">
              <p class="text-white mb-0 small blink_me"><strong>15%</strong></p>
            </div>
          </div>
          <img *ngIf="griddat['Image']!=null && griddat['Image']!=''" style="pointer-events: none;"
            src='{{_imgURL}}{{griddat["Image"]}}' height="300" class="card-img-top" alt="Book" />
          <img *ngIf="griddat['Image']==null || griddat['Image']==''" style="pointer-events: none;"
            src='https://drupal.nypl.org/sites-drupal/default/files/blogs/sJ3CT4V.gif' height="300" class="card-img-top"
            alt="Book" />

          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">{{griddat["Publisher"]}}</a></p>
              <p class="small text-danger"><s>₹{{priceParser(griddat["Price"])}}</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{griddat["Title"]}}</h5>
              <h5 class="text-dark mb-0">₹{{griddat["Price"]}}</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Released on: <span class="fw-bold">{{griddat["ReleasedDate"]}}</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <a class="stretched-link" (click)="!isreaderLogged()?readerLogin():buybook(griddat)"></a>
          </div>
        </div>
      </div>
      <div class=col-1></div>
    </div>
  </div>
</section>






<!-- Read Book Modal -->

<!-- <div class="modal fade" id="BookReadToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header"
        style="color: rgb(39, 53, 37); font-size: 12px; background-color: rgb(96, 165, 244); text-align: center;">
        <h5 class="modal-title" id="BookReadToggleLabel"><b>Read Books</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color:black; text-align: center; background-color: rgb(214, 200, 203);"
        id="ErrorMs">
        <div [innerHTML]="Readmsg">

        </div>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" id="btnReadBook" style="display: none;" data-bs-toggle="modal" href="#BookReadToggle"
  role="button">Read Book</a> -->



<!-- Reader Entry Login Modal -->

<div class="container">
  <a id="btnReaderLogin" role="button" data-bs-toggle="modal" href="#loginModal" style="display: none;">
    Login
  </a>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="ReaderLoginLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content" style="background: linear-gradient(90deg, rgb(167, 61, 61) 0%, rgb(104, 87, 87) 100%);
      border-radius: 30px; box-shadow: 18px 24px 24px 10px #000; ">
      <div class="modal-header">
        <div class="text-justify">
          <h4>
            <img src='../../../assets/image/lock.png' height="30" width="30" />&nbsp;
            Reader Portal
          </h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column text-center">
          <div class="form-group">
            Reader Name
            <input type="text" [(ngModel)]="_readerAuth.userName" class="form-control m-2"
              placeholder="Dear, Your Name..." required>
          </div>
          <div class="form-group">
            Reader Email
            <input type="email" name="email" [(ngModel)]="_readerAuth.password" class="form-control m-2"
              placeholder="Your E-mail..." email="true" />
          </div>
          <button type="button" [disabled]=" !email_reg.test(_readerAuth.password) || _readerAuth.userName==''"
            (click)="callReaderlogin()" class="btn btn-primary m-4" style="padding: 8px;
              ">Enter ! </button>
        </div>
      </div>
    </div>
  </div>
</div>