<section style="background-color: transparent; width: 1000px;" *ngIf="(filtersLoaded | async) && _readBook.length>0">
    <div class="container-fluid py-5">
      <div class="row justify-content-right">
        <div class="col-md-12 col-lg-4 mb-4" *ngFor="let rBook of _readBook" >
          <div class="card" style="cursor: pointer;">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">{{rBook.Category}}</p>
              <div *ngIf="rBook.IsActive!=0" class="bg-success rounded d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 50px; height: 40px;">
                <p class="text-white mb-0 small"><strong>Read</strong></p>
              </div>
              <div *ngIf="rBook.IsActive==0" class="bg-danger rounded d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 60px; height: 39px;">
                <p class="text-white mb-0 small"><strong>Inactive</strong></p>
              </div>
            </div>
            <img *ngIf="rBook.Image!=null && rBook.Image!=''" style="pointer-events: none;"
              src='{{_imgURL}}{{rBook.Image}}' height="300" class="card-img-top" alt="Book" />
            <img *ngIf="rBook.Image==null || rBook.Image==''" style="pointer-events: none;"
              src='https://drupal.nypl.org/sites-drupal/default/files/blogs/sJ3CT4V.gif' height="300" class="card-img-top"
              alt="Book" />
  
            <div class="card-body">
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">{{rBook.Title}}</h5>
              </div>
              <a *ngIf="rBook.IsActive!=0" class="stretched-link" (click)="prepareBook(rBook)"></a>
              <a *ngIf="rBook.IsActive==0" [ngStyle]="{'cursor': 'not-allowed'}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class=col-1></div>
      </div>
    </div>
  </section>

  <div *ngIf="filtersLoaded | async">
    <img  *ngIf="_readBook.length<=0" src="../../assets/image/dino.png" class="img-fluid" 
    style="pointer-events: none;" />
    </div>



  <!-- Read Book Modal -->

<div class="modal modal-lg fade" id="BookReadToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header"
          style="color: rgb(39, 53, 37); font-size: 12px; background-color: rgb(96, 165, 244); text-align: center;">
          <h5 class="modal-title" id="BookReadToggleLabel"><b>Read Books</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:black; text-align: center; background-color: rgb(214, 200, 203);"
          id="ErrorMs">
          <div [innerHTML]="ReadbookDat">
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" id="btnReadBook" style="display: none;" data-bs-toggle="modal" href="#BookReadToggle"
    role="button">Read Book</a>