<div class="col-lg-10 col-xl-10 col-md-6 col-sm-6">
  <div>
    <div class="container justify-content-between">
      <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
          <div class="bg-image p-5 text-center shadow-1-strong rounded mb-3 text-white"
            style="background-image: url(../../assets/image/book_gif.jpg);">

            <h4 class="card-title mb-3 text-center">Search Book</h4>

            <div class="form-group input-group" style="margin: 1%;">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i style="width: 75px;">Title</i> </span>
              </div>
              <input class="form-control" [(ngModel)]="ReaderModel.Title" placeholder="Enter Book Title" type="text">
            </div>
            
              <div class="form-group input-group" style="margin: 1%;">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i style="width: 75px;">Author</i> </span>
                </div>
                <input class="form-control" [(ngModel)]="ReaderModel.AuthorName" placeholder="Enter Book Author" type="text">
              </div>
              <div class="form-group input-group" style="margin: 1%;">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i style="width: 75px;">Publisher</i> </span>
                </div>
                <input [(ngModel)]="ReaderModel.Publisher" class="form-control" placeholder="Enter Book Publisher"
                  type="text">
              </div>
              <div class="form-group input-group" style="margin: 1%;">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i style="width: 75px;">Date</i> </span>
                </div>
                <input [(ngModel)]="ReaderModel.ReleasedDate" class="form-control" placeholder="Enter Released Date"
                  type="date">
              </div>
              <br/>
              <div class="form-group">
                <button type="button" class="btn btn-secondary" (click)="GetDataFromServer()">Search</button>
              </div>
            </div>
          </div>

            <app-grid-ui
            [grid-columns]="[{'colname':'Title'},{'colname':'AuthorName'},{'colname':'Publisher'},{'colname':'ReleasedDate'}]"
            [grid-data]="ReaderModels" [read-book-columns]="['//\(oo)/\\<br/>','Book Id : ','Book Title : ','Author Name : ','Publisher : ','Released Date : ',
            'Category : ','Price : ','<br/><b>Content</b><br/><br/>']">
            </app-grid-ui>
          
            
        </div>
        <div class="col-lg-2 col-xl-2 col-md-2 col-sm-1"></div>
      </div>
    </div>
  </div>

  <!-- <h1 style="text-align: center;">Search Books</h1>
<div class="mb-3" style="font-size: 16px; font-weight: bolder;">
Title : <input [(ngModel)]="ReaderModel.Title" type="text" class="form-control" placeholder="Default: Any Title"/>
Author : <input [(ngModel)]="ReaderModel.AuthorName" type="text" class="form-control" placeholder="Default: Any Author"/>
Publisher : <input [(ngModel)]="ReaderModel.Publisher" type="text" class="form-control" placeholder="Default: Any Publisher"/>
Released Date : <input [(ngModel)]="ReaderModel.ReleasedDate" type="text" class="form-control" placeholder="Default: Any Date"/><br/>
<input *ngIf="!isEditReader" type="submit" value="Search" (click)="GetDataFromServer()" class="btn btn-primary"/> &nbsp;
<br><br>
<h2 *ngIf="ReaderModels.length > 0">Books List</h2> -->





  <!-- Book Not Found Modal -->

  <div class="modal fade" id="BookNotFound" aria-hidden="true" aria-labelledby="ModalBookNotFound" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header"
          style="color: rgb(214, 8, 125); font-size: 12px; background-color: rgb(136, 153, 58); text-align: center;">
          <h5 class="modal-title" id="ModalBookNotFound"><b>Error Searching Book</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:black; text-align: center; background-color: rgb(214, 200, 203);"
          id="ErrorBookNotFound">
          <div [innerHTML]="errmsg"></div>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" id="btnNoBook" style="display: none;" data-bs-toggle="modal" href="#BookNotFound"
    role="button">No Book</a>